@media (max-width: 1199px)
  .container
    max-width: 960px
@media (max-width: 991px)
  .container
    max-width: 700px
  .logo
    width: 132px
    height: 18px
  .search
    &__input
      width: 340px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
@media (max-width: 767px)
  .container
    max-width: 530px
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding-top: 28px
      padding-bottom: 28px
    .menu
      &-button
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        height: 11px
        width: 16px
        padding: 0
        border: none
        background-color: #fff
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    padding-top: 5px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-top: 0
@media (max-width: 575px)
  .container
    max-width: 400px
  .logo
    width: 99px
    height: 14px
@media (min-width: 320px) and (max-width: 479px)
  .container
    max-width: 280px
  .hotel
    &__stars
      margin-right: 16px
