@media (max-width: 1199px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 580px
@media (max-width: 991px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
    height: 18px
  .search
    &__input
      width: 340px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .reviews
    padding-bottom: 60px
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        max-width: 580px
        &:before
          display: none
        &:after
          display: none
  .hotel
    padding-bottom: 60px
    &-grid
      flex-wrap: wrap
    &-slider
      flex-basis: 100%
    &-right
      margin-top: 30px
      flex-basis: 100%
      flex-direction: row
      justify-content: space-between
  .booking
    width: 340px
    padding-left: 22px
    padding-right: 22px
  .map
    width: 340px
@media (max-width: 767px)
  .container
    max-width: 530px
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding-top: 28px
      padding-bottom: 28px
    .menu
      &-button
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        height: 11px
        width: 16px
        padding: 0
        border: none
        background-color: #fff
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
  .stars
    flex-basis: auto
  .booking
    flex-basis: 100%
  .map
    flex-basis: 100%
    margin-top: 20px
  .hotel
    padding-top: 5px
    &-right
      flex-wrap: wrap
    &-slider
      height: 350px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-top: 0
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 530px
      flex-direction: column
      align-items: start
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &__subscribe
      margin-top: 37px
  .reviews
    &-slider
      &__item
        width: 100%
      &__button
        top: 45px
        &-prev
          left: 34px
        &-next
          right: 34px
@media (max-width: 575px)
  .container, .newsletter-wrapper
    max-width: 400px
  .logo
    width: 99px
    height: 14px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding-left: 31px
        padding-right: 31px
        padding-bottom: 36px
      &__text
        text-align: left
@media (min-width: 320px) and (max-width: 479px)
  .container, .newsletter-wrapper
    max-width: 280px
  .hotel
    padding-bottom: 40px
    &-info
      padding-bottom: 38px
    &__stars
      margin-right: 16px
    &-right
      margin-top: 20px
    &-slider
      height: 179px
      &__button
        height: 12px
        width: 12px
        background-size: 4px
        &-prev
          left: 10px
        &-next
          right: 10px
  .booking, .map
    width: auto
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    &__title
      margin-left: auto
      margin-right: auto
      margin-bottom: 42px
      max-width: 245px
