@media (max-width: 1199px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 580px
  .card
    width: 225px
    height: 225px
    &__title
      font-size: 14px
  .package
    &__description
      font-size: 13px
@media (max-width: 991px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
    height: 18px
  .search
    &__input
      width: 340px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .reviews
    padding-bottom: 60px
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__button
        top: 157px
      &__text
        max-height: 133px
      &__item
        max-width: 580px
        &:before
          display: none
        &:after
          display: none
  .hotel
    padding-bottom: 60px
    &-grid
      flex-wrap: wrap
    &-slider
      flex-basis: 100%
    &-right
      margin-top: 30px
      flex-basis: 100%
      flex-direction: row
      justify-content: space-between
  .booking
    width: 340px
    padding-left: 22px
    padding-right: 22px
  .map
    width: 340px
  .newsletter
    padding: 92px 0 93px 0
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      &:nth-child(-n+2)
        margin-bottom: 20px
  .card
    width: 339px
    height: 255px
    &__title
      font-size: 16px
  .packages
    padding: 30px 0 60px 0
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &__grid
      grid-template: 1fr 1fr 1fr / 1fr 1fr
  .package
    &__description
      font-size: 14px
@media (max-width: 767px)
  .container
    max-width: 530px
  body
    padding-top: 74px
  .search
    &__input
      width: 245px
  .user
    &__name
      margin: 10px 0 0 0
      color: $light
  .navbar
    &__user
      flex-direction: column
      justify-content: space-between
      align-items: center
    &__search, &__user
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &_mobile
      &_fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 5
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 74px
      &_visible
        display: block
    &-menu
      padding-top: 31px
      flex-direction: column
      &__item
        &:not(:last-child)
          margin-bottom: 20px
        &_mobile
          &_visible
            display: list-item
            &:nth-child(1)
              margin-bottom: 27px
            &:nth-child(2)
              margin-bottom: 39px
    &-top
      padding-top: 28px
      padding-bottom: 28px
    .menu
      &-button
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        height: 11px
        width: 16px
        padding: 0
        border: none
        background-color: #fff
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
  .stars
    flex-basis: auto
  .booking
    flex-basis: 100%
  .map
    flex-basis: 100%
    margin-top: 20px
  .hotel
    padding-top: 5px
    &-right
      flex-wrap: wrap
    &-slider
      height: 350px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-top: 0
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 530px
      flex-direction: column
      align-items: start
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &__subscribe
      margin-top: 37px
  .reviews
    &-slider
      &__item
        width: 100%
      &__button
        transform: translateY(-50%)
        top: 45px
        &-prev
          left: 34px
        &-next
          right: 34px
  .activities
    &__title
      margin-bottom: 36px
  .card
    width: 100%
    &:nth-child(-n+3)
      margin-bottom: 20px
  .packages
    &__grid
      gap: 20px
  .package
    height: 420px
    &__info
      padding: 25px
    &__title
      margin-bottom: 12px
    &__description
      font-size: 12px
    &__pricetag-old
      margin-bottom: 2px
      font-size: 12px
      line-height: 15px
    &__pricetag-new
      margin-bottom: 0
      font-size: 20px
      line-height: 24px
    &__properties
      margin-bottom: 25px
    &__button
      padding: 9px 21px 9px 20px
      font-size: 12px
      line-height: 15px
  .property
    &:not(:last-child)
      margin-bottom: 6px
    &__description
      font-size: 11px
@media (max-width: 575px)
  .container, .newsletter-wrapper
    max-width: 400px
  .logo
    width: 99px
    height: 14px
  .navbar
    &-bottom
      top: 70px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding-left: 31px
        padding-right: 31px
        padding-bottom: 36px
      &__text
        text-align: left
  .packages
    padding: 25px 0 50px 0
    &__title
      margin-bottom: 40px
    &__grid
      grid-template: repeat(5, 1fr) / 1fr
      column-gap: 0
  .package
    grid-column: 1 / 2 !important
    &__view
      @include small_package__view
    &__info
      @include small_package__info
    &__title
      @include small_package__title
    &__properties
      @include small_package__properties
    &__offer
      @include small_package__offer
    &__stars
      @include small_package__stars
    &__description
      @include small_package__description

@media (min-width: 320px) and (max-width: 479px)
  .container, .newsletter-wrapper
    max-width: 280px
  .hotel
    padding-bottom: 40px
    &-info
      padding-bottom: 38px
    &__stars
      margin-right: 16px
    &-right
      margin-top: 20px
    &-slider
      height: 179px
      &__button
        height: 12px
        width: 12px
        background-size: 4px
        &-prev
          left: 10px
        &-next
          right: 10px
  .booking
    width: 280px
  .map
    width: 280px
    height: 173px
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    &-slider
      &__text
        max-height: 266px
    &__title
      margin-left: auto
      margin-right: auto
      margin-bottom: 42px
      max-width: 245px
  .activities
    padding: 40px 0 60px 0
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
  .packages
    &__title
      margin-bottom: 30px
      font-size: 18px
      line-height: 23px
  .newsletter
    &-title
      &__strong
        margin-top: 5px
