@mixin small_package__stars
  display: none
@mixin small_package__description
  display: none
@mixin small_package__view
  flex-basis: 100%
  height: 50%
@mixin small_package__info
  padding: 30px 21px 25px 32px
  height: 50%
  flex-basis: 100%
  @media (max-width: 767px)
    padding: 20px !important
@mixin small_package__title
  margin-bottom: 0 !important
@mixin small_package__properties
  margin-bottom: 24px
@mixin small_package__offer
  min-width: 60px
  padding: 4px 9px
  font-size: 8px
  line-height: 10px
  @media (max-width: 767px)
    top: 23px !important
@mixin hoverable_link($left, $right, $brs, $color, $alpha: 0.07)
  cursor: pointer
  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: $left
    right: $right
    border-radius: $brs
    background-color: rgba($color, 0)
    transition: background-color 100ms ease-in
  &:hover::after
    background-color: rgba($color, $alpha)
