*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  color: $text-color
  background-color: $secondary
.container
  max-width: 1110px
  margin: auto
button
  &:hover
    cursor: pointer
  &:focus
    outline: 0
input
  &:focus
    outline: none
textarea
  &:focus
    outline: none
img
  max-width: 100%
.d-none
  display: none !important
.input
  background-color: $light
  border-radius: 4px
  border: none
  padding: 0 23px
  height: 50px
.message
  resize: none
  background-color: $light
  border: none
  border-radius: 4px
  padding: 18px 23px
.button
  padding: 18px
  min-width: 160px
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  border-radius: 4px
  border: none
  background-color: #EC1F46
  color: #ffffff
label
  &.error
    color: $error
