.footer
  padding: 108px 0 46px 0
  background-color: $dark
  color: $light
  &-wrapper
    display: grid
// TODO: min-content here doesnt work properly. Stopped at 38:47
    grid-template-columns: repeat(4, minmax(min-content, 1fr))
    grid-gap: 20px
    grid-auto-rows: minmax(40px, min-content)
    align-items: start
  &__logo
    width: 166px
    grid-row: 1 / 3
    align-self: center
  &__categories
    grid-row: 1 / 4
  &__social
    &-network
      display: flex
      align-content: start
      grid-row: 2 / 4
      grid-column: 3 / span 2
    &-links
      display: flex
      align-items: center
      justify-content: space-between
      min-width: 83px
  &__contact
    &-details
      grid-column: span 2
  &__title
    margin-top: 0
    margin-bottom: 16px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    &_inline
      margin: 0 43px 0 0
  &__ul
    margin: 0
    padding: 0
    list-style: none
  &__item
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160%
    color: $footer-text-color
  &__link
    text-decoration: none
    color: inherit
