.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    &__offer
      margin-left: 14px
      margin-top: 4px
  &-name
    font-size: 24px
    line-height: 30px
    margin-top: 4px
    margin-bottom: 0
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-description
    margin: 0
    font-size: 12px
    line-height: 15px
.stars
  flex-basis: 100%
.offer
  font-size: 10px
  line-height: 13px
  background-color: $primary
  padding: 4px 9px
  border-radius: 3px
  color: $light
.rating
  display: flex
  flex-direction: column
  align-items: center
  padding: 9px 6px 6px 6px
  color: $light
  background-color: $primary
  border-radius: 4px
  &__text
    font-size: 8px
    line-height: 10px
  &__counter
    font-size: 14px
    line-height: 18px
    &-total
      font-size: 10px
      line-height: 13px
