.thanks
  margin-top: 50px
  margin-bottom: 50px
  &__message
    margin-bottom: 30px
  &__newsletter
  &__contact-title
  &__contact-text
  &__error-message
  &__back-link
    display: inline-block
    text-align: center
    text-decoration: none
    color: $light
